<div class="container">
    <div class="chat-list">
        <button>+ New Chat</button>
        <ul>
            <li>What is CGST Act?</li>
            <li>evidance act amendment...</li>
            <li>Please describe PROCEDURE...</li>
            <li>What is the PROCEDURE FOR...</li>
        </ul>
    </div>

    <div class="chat-window">
        <div class="chat-header">Query</div>
        <div class="message-container">
            <div class="Questions">
                <img src="../assets/user.png" alt="User">
                <div class="message">What is CGST Act?</div>
            </div>
            <div class="bot-message">
                <img src="../assets/chatbot.png">
                <div class="Answer">
                    The Central Goods and Services Tax (CGST) Act, 2017 is a comprehensive indirect tax reform legislation enacted by Parliament...
                </div>
            </div>

            <div class="actions ">
    
                <i class="fa-solid fa-thumbs-down text-success"></i>
                <i class="fa-solid fa-thumbs-up text-danger"></i>
            </div>

           
        </div>

        <div class="message-input">
            <i class="fa fa-user fa-2x me-3" aria-hidden="true"></i>
            <input type="text" placeholder="Type your message...">
            <i class="fa fa-paper-plane fa-2x " aria-hidden="true"></i>
        </div>
    </div>
</div>