<div class="container">
    <div class="chat-list">
        <button>+ New Chat</button>
        <ul *ngFor="let history of userHistory ">
            <li>{{history.question}}</li>
            
        </ul>
    </div>

    <div class="chat-window">
        <div class="chat-header">Query</div>
        <div class="message-container" *ngFor="let item of Answer">
            <div class="Questions">
                <img src="../assets/user.png" alt="User">
                <div class="message">{{item.question}}</div>
            </div>
            <div class="bot-message">
                <img src="../assets/chatbot.png">
                <div class="Answer">
                    {{item.response}}
                </div>
            </div>

            <div class="actions ">
    
                <i class="fa-solid fa-thumbs-down text-success"></i>
                <i class="fa-solid fa-thumbs-up text-danger"></i>
            </div>

           
        </div>

        <div class="message-input">
            <i class="fa fa-user fa-2x me-3" aria-hidden="true"></i>
            <input type="text" placeholder="Type your message..." [(ngModel)]="query" (keydown.enter)="onSend()" >
            <i class="fa fa-paper-plane fa-2x " aria-hidden="true" (click)="onSend()"></i>
        </div>
    </div>
</div>