<div class="container mt-5">
    <div class="row">
        
        <div class="col-md-4">
            <h5>Suggested Answers</h5>
            <div class="suggestion-list">
                <table>
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Status</th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr  *ngFor="let data of thumbsDownData"> 
                            <td class="p-2" >{{data.Question}}</td>
                            <td class="p-2">
                                <button 
                                  type="button" 
                                  class="btn-neumorphism" 
                                  [ngClass]="data.status ? 'text-success' : 'text-danger'"
                                >
                                  {{ data.status ? 'Validated' : 'Disapproved' }}
                                </button>
                              </td>
                        </tr> 
                    </tbody>
                </table>
             
            </div>
        </div>

        
        <div class="col-md-8">
      
            <ul class="nav nav-tabs mb-3">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Train Document</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Manage Users</a>
                </li>
            </ul>

          
            <div class="tab-content">
             
                <button class="btn btn-primary add-user-btn">+ Add Users</button>
                <input type="text" class="form-control mb-3" placeholder="Search user...">
                <table class="table user-table">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Access Suggestions</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td>1</td>
                            <td>
                                <span class="table-img">VI</span> vivek
                            </td>
                            <td>vivek.celestialtechgmail.com</td>
                            <td><input type="checkbox" checked></td>
                            <td><button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>